<h1> "<%= $player1.name %> VS <%= $player2.name %> - GAME ON!!!" </h1>
<h2> <%= $player1.name %> LIFE : <%= $player1.life %>% </h2>
<h2> <%= $player2.name %> LIFE : <%= $player2.life %>% </h2>

<form action="/attack">
<% $player1.attack($player2) %>
<input type='submit' value='Player 1 Attacks'>
  </form>
