<h3> <%= @game.player_1.name %>'s turn </h3>

<%= @game.player_1.name %> VS <%= @game.player_2.name %> <br><br>

Your life: <%= @game.player_1.hitpoints %> HP

<br>

<%= @game.player_2.name %>: <%= @game.player_2.hitpoints %> HP


<form action='/attack1'>
  <input type='submit' value='ATTACK!'/>
</form>
