<h3> <%= Battle.show_game.player_1.name %>'s turn </h3>

<%= Battle.show_game.player_1.name %> VS <%= Battle.show_game.player_2.name %> <br><br>

Your life: <%= Battle.show_game.player_1.hitpoints %> HP

<br>

<%= Battle.show_game.player_2.name %>: <%= Battle.show_game.player_2.hitpoints %> HP


<form action='/attack1'>
  <input type='submit' value='ATTACK!'/>
</form>
